.chatBoxContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chatArea {
  overflow-y: auto;
  padding: 20px 0;
  max-height: 74vh;
}

.chatFooter {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.add,
.voice {
  display: flex;
  width: 32px;
  height: 32px;
  margin: 0 8px 0 0;
  border: 1px solid #d9d9d9;
  color: #888888;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}

.add img {
  width: 12px;
  height: 12px;
}
.voice img {
  width: 14px;
  height: 14px;
}

.messageBox {
  flex: 1;
  border: 1px solid #d9d9d9;
  border-radius: 40px;
  padding: 0 13px;
  display: flex;
  align-items: center;
}

.message {
  color: #888888;
  font-weight: 300;
}
