.reviewContainer {
  height: 64px;
  border-radius: 4px;
  gap: 8px;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}
.bgHighlight {
  background-color: #f6f6f6;
}

.reviewContainer:hover {
  background-color: #f5f7fb;
}

.profile {
  width: 40px;
  height: 40px;
  margin: 10px;
  object-fit: cover;
  object-position: center;
}

.profile img {
  width: 40px;
  height: 40px;
  top: 8px;
  left: 8px;
  border-radius: 40px;
  object-fit: cover;
  object-position: center;
}

.onlineStatus {
  width: 10px;
  height: 10px;
  position: relative;
  background-color: #3ba55d;
  border-radius: 10px;
}
.reviewContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reviewContainerIn {
  display: flex;
  align-items: center;
}
.profileName {
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
}

.lastMessage {
  font-size: 14px;
  height: 24px;
  font-weight: 400;
  text-align: left;
  color: #8e8e93;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 230px;
}

.editIcon img {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  padding-right: 8px;
}
.video {
  width: 17px !important;
  height: 21px !important;
  padding-top: 8px;
  margin-right: 5px;
}
.sideStatus {
  top: 6px;
  left: 6px;
}

.bottomStatus {
  top: 29px;
  left: -53px;
}

.actionButtons {
  display: flex;
  align-items: center;
}

.menuItem {
  width: 148px;
  border-radius: 4px;
  padding: 6px;
  font-size: 13px;
  font-weight: 400px;
}

.unreadCount {
  width: 20px;
  height: 20px;
  background: #3ba55d;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: white;
  position: absolute;
  right: 27px;
  top: 34px;
}
