.dashboard {
  display: grid;
  grid-template-columns: 25% 75%;
}

.contactsContainer {
  height: 100vh;
  border-right: 1px solid #efefef;
  padding: 0px 8px;
}

.chatContainer {
  display: block; 
  height: 93vh;
  padding: 28px 40px;
  position: relative; 
}

.chatHeader p {
  font-size: 24px;
  margin: 16px 0px;
}

.backButton {
  display: none;
}

@media (max-width: 584px) {

  .dashboard {
    display: block; 
  }

  .hideContainer {
    display: none;
  }

  .chatContainer {
    display: block; 
  }
  .backButton{
    display: block;
    padding: 16px 0px;
    background: none;
    border: none;
    font-size: 16px;
    color: #007AFF
  }
}
